*{
    box-sizing: content-box;
    margin: 10px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(194, 206, 28);
    cursor: pointer;
}

.container{
    display: grid;
    border-radius: 20px;
    height: auto;
    font-size: 2rem;
    gap: 8px;
    grid-template-rows: 90px repeat(5, 70px);
    grid-template-columns: repeat(4, 70px);
    background-color: rgba(128, 128, 128, 0.925);
}

#screen{
    font-weight: bold;
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: antiquewhite;
    grid-row: 1 / 2;
    grid-column: 1 / -2;
}



#ac{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(165, 8, 8);
    grid-row: 1 / 2;
    grid-column: -2 / -1;
}

.one{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}
.two{
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}
.three{
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.sum{
    grid-row: 2 / 3;
    grid-column: 4 / 5;
}

.four{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

.five{
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

.six{
    grid-row: 3 / 4;
    grid-column:3 / 4;
}

.sub{
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

.seven{
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

.eight{
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

.nine{
    grid-row: 4 / 5;
    grid-column: 3 / 4;
}

.mul{
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

.divide{
    grid-row: 5 / 6;
    grid-column: 4 / 5;
}

.dot{
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

.zero{
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

.equals{
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

@media screen and (max-width:1200px) {
    *{
        box-sizing: content-box;
        margin: 8px;
    }
    .container{
        height: 45vh;
        grid-template-rows: 10vh repeat(5, 7vh);
        grid-template-columns: repeat(4, 8vw);
        gap: 5px;
        font-size: 20px;
    }

    
}



